body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F4E1; /* Light cream background */
    color: #74512D; /* Dark brown text */
    line-height: 1.6;
}

header {
    background-color: #543310; /* Dark brown header */
    color: #F8F4E1; /* Light cream text */
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

#add-book, #book-list {
    background: #F8F4E1; /* Light cream background */
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #543310; /* Dark brown text */
}

#add-book form {
    display: flex;
    flex-direction: column;
}

#add-book label {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #74512D; /* Dark brown text */
}

#add-book input, #add-book textarea {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F8F4E1; /* Light cream background */
    color: #74512D; /* Dark brown text */
}

#add-book button {
    padding: 1rem;
    background: #543310; /* Dark brown button */
    color: #F8F4E1; /* Light cream text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

#add-book button:hover {
    background: #74512D; /* Lighter brown on hover */
}

#books {
    list-style: none;
    padding: 0;
}

#books li {
    background: #F8F4E1; /* Light cream background */
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-left: 8px solid #543310; /* Dark brown border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#books li strong {
    display: block;
    font-size: 1.6rem;
    color: #74512D; /* Dark brown text */
    transition: color 0.3s; /* Add transition for hover effect */
}

#books li em {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    color: #AF8F6F; /* Lighter brown text */
    transition: color 0.3s; /* Add transition for hover effect */
}

/* Add hover effect for book title and author */
.book-title:hover,
.book-author:hover {
    color: #000000; /* Black on hover */
    cursor: pointer;
    text-decoration: underline; /* Underline on hover for better visibility */
}

/* Adjustments for book image */
#book-details {
    display: flex;
}

#book-info {
    flex: 1;
}

#book-image-container {
    width: 150px; /* Adjust width as needed */
    margin-left: 20px; /* Add some spacing */
    flex-shrink: 0; /* Prevent image from shrinking */
}

#book-image {
    width: 100%;
    height: auto;
    display: block;
}
